<p>正在热映</p>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="item in data">
        <span class="badge">14</span>
        <div class="media">
            <div class="media-left">
                <img class="media-object" ng-src="{{item.images.small}}">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{item.title}}</h4>
                <p>捣眼：
                    <span ng-repeat="dirctor in item.directors">{{dirctor.name}}
					<span ng-if="!$last">、</span>
                    </span>
                </p>
                <p>演员：
                    <span ng-repeat="cast in item.casts">{{cast.name}}
					<span ng-if="!$last">、</span>
                    </span>
                </p>
            </div>
        </div>
    </li>
</ul>
